body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 90%;
    max-width: 1200px;
}

.grid-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.bottom-items {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-gap: 20px;
}

.alert-container {
    border: 1px solid black;
    overflow-y: auto; 
    height: 50px;
    margin-bottom: 20px;
 }

.user-list {
    border: 1px solid black;
    overflow-y: auto; 
    height: 50px;
    margin-bottom: 20px;
 }


.message-container {
   border: 1px solid black;
   flex-grow: 1;
   overflow-y: auto; 
   white-space: pre-wrap; 
   word-wrap: break-word;
   font-family: monospace; 
}


.code-container {
    border: 1px solid black;
    flex-grow: 1;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: monospace;
    font-size: 1.5rem; 
    font-weight: bold;
    height: 50px; 
}


.message-container div {
    background-color: #ccc;
    padding: 5px;
    width: 50%;
}

form {
    max-width: 1200px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr auto; 
    grid-gap: 10px; 
}

form label {
    grid-column: 1 / -1; 
    margin-bottom: 5px;
}

form input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

form button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

.codediv {
    margin-bottom: 10px;
}

